/* About.css */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}
.strong {
  color: #f7c948;
}
.highlight-2 {
  color: #ff4081;
  animation: laminate 1s 2s; /*forwards;*/
}
.slide-2 {
  max-width: 60%;
  width: 100%;
  background: #333;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  animation: slideInLeft 1s ease-in-out;
}
.slide-1 {
  max-width: 90%;
  width: 100%;
  background: #333;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  animation: fadeInRight 1s ease-in-out;
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.greeting {
  font-size: 2rem;
  margin-bottom: 10px;
}
.slide-title {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #00bcd4;
}

.slide-content {
  font-size: 1.1rem;
  line-height: 1.6;
  
}
.slide-content strong{
  color: #f7c948;
  
}

.slide-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.slide-content li {
  margin-bottom: 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .slide {
    padding: 15px;
    margin-bottom: 15px;
  }

  .slide-title {
    font-size: 1.5rem;
  }

  .slide-content {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .slide {
    padding: 10px;
    margin-bottom: 10px;
  }

  .slide-title {
    font-size: 1.2rem;
  }

  .slide-content {
    font-size: 0.9rem;
  }
}
