.footer {
    margin-top: 40px;
    margin-bottom: 0;
    text-align: center;
    padding: 10px 0;
    background: #343536;
    color: #fff;
  }
  /* App.css */

.app {
  font-family: Arial, sans-serif;
  text-align: center;
}

